<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd">

    <!--
        0.可以指定default-init-method和default-destroy-method来实现统一管理初始化和销毁方法
          这种全局的方式对无论是注解方式的bean还是XML方式的定义都起作用，属于全局初始化方法和全局销毁方法
          后期bean标签中可以使用init-method和destroy-method覆盖这个方法,但是注解的形式却不能做到覆盖
    -->
    <!-- 1.采用LifeCycle接口管理bean的初始化和销毁 -->
    <bean id="user3_1" class="cn.argentoaskia.callback.User3LifeCycleInterfaceCallback">
        <property name="address" value="广州市"/>
        <property name="age" value="30"/>
        <property name="birthday">
            <bean class="java.util.Date"/>
        </property>
        <property name="id" value="1"/>
        <property name="name" value="Askia"/>
        <property name="upload">
            <bean class="java.time.LocalDateTime" factory-method="now"/>
        </property>
    </bean>

    <!-- 2.采用XML-init-method属性和destroy-method属性管理bean的初始化和销毁 -->
    <bean id="user3_2" class="cn.argentoaskia.callback.User3XMLLifeCycleCallback"
    init-method="init" destroy-method="destroy">
        <property name="address" value="江门市"/>
        <property name="age" value="23"/>
        <property name="birthday">
            <bean class="java.util.Date"/>
        </property>
        <property name="id" value="2"/>
        <property name="name" value="Askia"/>
        <property name="upload">
            <bean class="java.time.LocalDateTime" factory-method="now"/>
        </property>
    </bean>

    <!-- 3.采用注解形式管理bean的初始化和销毁，注意因为是注解形式，需要开启注解支持和组件扫描 -->
    <context:annotation-config/>
    <context:component-scan base-package="cn.argentoaskia.callback"/>


    <!-- 4. AutoCloseable | Closeable的写法 -->
    <bean id="user3_4" class="cn.argentoaskia.callback.User3AutoCloseXMLLifeCycleCallback"
    init-method="init" destroy-method="(inferred)">
        <property name="address" value="中山市"/>
        <property name="age" value="24"/>
        <property name="birthday">
            <bean class="java.util.Date"/>
        </property>
        <property name="id" value="4"/>
        <property name="name" value="Askia"/>
        <property name="upload">
            <bean class="java.time.LocalDateTime" factory-method="now"/>
        </property>
    </bean>

</beans>