<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- inherit type one -->
    <bean id="inheritedTestBean" class="cn.argento.askia.beans.TestBean" abstract="true">
        <property name="name" value="parent"/>
        <property name="age" value="1"/>
    </bean>

    <bean id="inheritsWithDifferentClass" class="cn.argento.askia.beans.DerivedTestBean" parent="inheritedTestBean">
        <!-- override method -->
        <property name="age" value="25"/>
        <property name="address" value="California"/>
    </bean>

    <!-- inherit type two -->
    <!-- template for inherit bean -->
    <bean id="inheritedTestBean2" abstract="true">
        <property name="name" value="parent"/>
        <property name="age" value="1"/>
    </bean>

    <bean id="inheritsWithDifferentClass2" class="cn.argento.askia.beans.DerivedTestBean" parent="inheritedTestBean2">
        <!-- override method -->
        <property name="age" value="25"/>
        <property name="address" value="California"/>
    </bean>

</beans>